Money/Money/Service References/DBService/DBService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_DBService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dreamnit.com/DBService.Web/DBService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DBService_GetDeflate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeflate" />
  </wsdl:message>
  <wsdl:message name="DBService_GetDeflate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeflateResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetGZip_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGZip" />
  </wsdl:message>
  <wsdl:message name="DBService_GetGZip_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGZipResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="DBService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="DBService_GetSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchema" />
  </wsdl:message>
  <wsdl:message name="DBService_GetSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchemaResponse" />
  </wsdl:message>
  <wsdl:portType name="DBService">
    <wsdl:operation name="GetDeflate">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetDeflate" message="tns:DBService_GetDeflate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetDeflateResponse" message="tns:DBService_GetDeflate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGZip">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetGZip" message="tns:DBService_GetGZip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetGZipResponse" message="tns:DBService_GetGZip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/Get" message="tns:DBService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetResponse" message="tns:DBService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/DBService/GetSchema" message="tns:DBService_GetSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBService/GetSchemaResponse" message="tns:DBService_GetSchema_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_DBService" type="tns:DBService">
    <wsp:PolicyReference URI="#CustomBinding_DBService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeflate">
      <soap12:operation soapAction="http://tempuri.org/DBService/GetDeflate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGZip">
      <soap12:operation soapAction="http://tempuri.org/DBService/GetGZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/DBService/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <soap12:operation soapAction="http://tempuri.org/DBService/GetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBService">
    <wsdl:port name="CustomBinding_DBService" binding="tns:CustomBinding_DBService">
      <soap12:address location="http://dreamnit.com/DBService.Web/DBService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://dreamnit.com/DBService.Web/DBService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>