PicaPages/PicaPages/Service References/DBService/DBService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="urn:SerializationTest" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:SerializationTest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:SerializationTest/Imports">
      <xsd:import schemaLocation="http://www.dreamnit.com/FutureMoneyWebServices/DBService.svc?xsd=xsd0" namespace="urn:SerializationTest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBService_GetDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetOleDbDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOleDbDataSet" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetOleDbDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOleDbDataSetResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBService">
    <wsdl:operation name="GetDataSet">
      <wsdl:input wsaw:Action="urn:SerializationTest/IDBService/GetDataSet" message="tns:IDBService_GetDataSet_InputMessage" />
      <wsdl:output wsaw:Action="urn:SerializationTest/IDBService/GetDataSetResponse" message="tns:IDBService_GetDataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOleDbDataSet">
      <wsdl:input wsaw:Action="urn:SerializationTest/IDBService/GetOleDbDataSet" message="tns:IDBService_GetOleDbDataSet_InputMessage" />
      <wsdl:output wsaw:Action="urn:SerializationTest/IDBService/GetOleDbDataSetResponse" message="tns:IDBService_GetOleDbDataSet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>